<div class="container">
  <h1>Angular Service</h1>
  <!-- --------------- Создание сервисов ----------------------- -->
  <div class="card">
    <h2>App Counter : {{ appCounetrServise.counter }}</h2>
    <button class="btn" (click)="appCounetrServise.increase()">+</button>
    <button class="btn" (click)="appCounetrServise.decrease()">-</button>
  </div>
  <div class="card">
    <h2>Local Counter : {{ newServiceService.counter }}</h2>
    <button class="btn" (click)="newServiceService.increase()">+</button>
    <button class="btn" (click)="newServiceService.decrease()">-</button>
  </div>
</div>
<app-counter></app-counter>
